html, body {
  padding: 0;
  margin: 0;
  height:100%;
  width:100%;
  font-size:12pt;
}

/* styles for index.html */
div#beginPanel {
}
form#beginForm {
  text-align:center;
}
form#beginForm > input {
  display:block;
  width:250px;
  margin:0 auto;
}


/* styles for search.html */
#container {
  position:relative;
  vertical-align: top;
  height:100%;
  width:100%;
  bottom:0;
  margin:0;
  padding:0;
}
/* for both gatherSpace and searchResults */
#container td {
  vertical-align: top;
  height:100%;
  min-height: 100%;
  width:50%;
}
#gatherSpace {
  background-color: #eee;
}
#searchResults {
  background-color:#ccf;
  text-align:right;
  padding:8px;
}
span.hili {
  color: #f00;
  font-weight: bold;
}
#searchResults .feedback {
  text-align:right;
}
#searchResults .title {
  text-align: left;
  font-weight: bold;
}
#searchResults div {
  text-align:justify;
  display:block;
  padding: 4pt;
  background-color:#eef;
  margin-top: 8px;
}

/* Toolbar styles */
#toolbar {
  color: #fff;
  vertical-align:top;
  background-color: #009;
  min-height: 40px;
  width: 100%;
  padding:4px;
}
#gatherName {
  font-weight: bold;
  font-size: 32px;
  vertical-align:middle;
}
#toolbarSearch {
  text-align: right;
}
#customSearchQuery {
  width: 250px;
}
